# Git
.git
.gitignore
README.md

# Rails
.env
*.rbc
capybara-*.html
.rspec
log
tmp
public/assets
public/b
coverage/
.rvmrc
vendor/bundle
.bundle
Dockerfile
.gitlab-ci.yml
.rubocop.yml
.travis.yml
spec
test
systemd

# docker-compose
docker-compose.yml
docker-compose-init.yml
dotenv
init-letsencrypt.sh

# Deployment files
bigbluebutton
